@import 'utils';

.scrollButton {
  display: inline-block;
  font-size: 1.3rem;
  text-align: center;
  border: 0;
  background: transparent;
  color: white;
  font-weight: bold;
  // padding-top: 0.4rem;
  // padding-bottom: 0.4rem;
  // padding-left: 0.8rem;
  // padding-right: 0.8rem;
  // font-weight: 600;
  cursor: pointer;
  user-select: none;

}