@import 'utils';

.scrollButton {
  display: inline-block;
  border: 0;
  background: transparent;
  color: white;
  cursor: pointer;
  .footer-top{
      @include media("<medium"){
          display: none;
      }
  }
  .mobile-footer-top{
    display: none;
    @include media("<medium"){
        display: inline-block;
    }

    .mobile-footer-top-text{
        display: inline-block;
        margin-right: 0.7rem;
        color: #FFFFFF;
        font-size: 1.14rem;
        font-weight: bold;
    }
    .mobile-footer-top-img{
        display: inline-block;
        width: 1rem;

    }
  }
}
