@import 'utils';

.pdf {
  background: ghostwhite;
  width: 80%;
  margin: auto;
  font-family: 'Tinos', serif;

  .header-name {
    text-align: center;
  }

  .header-info {
    text-align: center;
  }

  .bar {
    border: 1px solid black;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .body-title {
    font-size: 2rem;
  }

  .body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .body-description {
    margin-left: 1rem;
  }
}
