@import 'utils';

.nav-item {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 1rem 2.3rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 800;
  color: black;
  opacity: 0.8;
  cursor: pointer;
  transition: all .3s;
  -webkit-transition: all .3s;
  user-select: none;

  &.home {
    color: white;

    @include media("<small") {
      color: black;
    }
  }

  &:hover {
    font-weight: 800;
    opacity: 1;
  }
}
