@import 'utils';

.registerAdd {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 80%;
  margin: auto;
  // display: flex;

  @include media("<huge") {
    width: 1024px;
  }

  @include media("<large") {
    width: 768px;
  }

  @include media("<medium") {
    width: 90%;
  }

  .button-wrapper {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .bar {
    width: 3rem;
    // background: ghostwhite;
  }

  .add-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
}