@import 'utils';

.footer {
  line-height: 7.14rem;
  background-color: #545E6B;
  color: #C8C8C8;
  text-align: center;

  .content {
      @include responsive();
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      @include media("<medium"){
          padding-right: 5.5rem;
      }
  }
}
