@import 'utils';

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  // margin-bottom: 2rem;
  user-select: none;
  cursor: pointer;

      @include media("<medium") {
        // font-size: 1.5rem;
      }
      .img-wrapper{
        display: inline-block;
        vertical-align: middle;
            .white{
              display: inline-block;

                @include media("<small"){
                    display: none;
                }
            }

            .black{
                display: none;

                @include media("<small"){
                    display: inline-block;
                }
            }
      }
}
