@import 'utils';

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: black;
  user-select: none;
  cursor: pointer;

  &.home {
    color: white;
     
    @include media("<medium") {
      color: black;
    }  
  }
}