@import 'utils';

.registerForm {
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;

  .label-container {
    padding: 2rem;
    display: flex;
    justify-content: space-between;

    @include media("<medium") {
      flex-direction: column;
      padding: 0;
      margin: 2rem;      
    }

    .label {
      width: 20%;
      // font-size: 1.2rem;

      @include media("<medium") {
        width: 100%;
      }
    }
  }

  .button-wrapper {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;

    .button {
      margin: auto;
      justify-content: center;
    }
  }
  // background: material-color('teal', '600');

}
