@import 'utils';

.flex-box {
  display: flex;
  &.row {
    flex-direction: row;
    border-radius: 6px;
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  &.space {
    justify-content: space-around;
  }
}
