@import 'utils';

.input {
  outline: none;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #bdbdbd;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  font-size: 1rem;
  transition: .3s all;
  -webkit-transition: .3s all;
  flex: 1;

  @include media("<medium") {
    width: auto;
    line-height: 1.2rem;
    height: 4.1rem;
  }
  &.full-width {
    width: 100%;
  }
  &:focus {
    color: #43484D;
    background: #f1f1f1;
    &::placeholder {
       color: #43484D;
    }
  }

  &.transparent {
    background: rgb(240, 240, 240);
  }
}

.input + .input {
  margin-top: 0.5rem;
}
