@import 'utils';

.header {
  height: 5rem;
  border-bottom: 0.5px solid rgb(201, 197, 197);
  
  @include media("<medium") {
    background: white;
  }  

  &.home {
    border-bottom: 0px
  }


  .responsive {
    @include responsive();
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    @include media("<medium") {
      width: 90%;
    }  

    .right-side {
      display: flex;
      margin-left: auto;
    }
  }

  .login-button {
    margin-left: 1rem;
    &:hover {
      color: material-color('teal', '500');
    }
  }
}